.wrapper_header {
  text-align: center;
  background-color: red;
}

.title {
  font-size: 130px;
  line-height: 120px;
  text-transform: uppercase;
  color: white;
  padding-top: 70px;
  padding-bottom: 50px;
  margin: 0;
}

.text {
  font-size: 100px;
  line-height: 80px;
  color: black;
  padding-top: 20px;
  padding-bottom: 50px;
  margin: 0;
}

.wrapper_link {
  text-align: center;
  padding-top: 100px;
}

.link {
  font-size: 100px;
  text-transform: uppercase;
  color: red;
  background-color: white;
  text-decoration: none;
  border: 10px dashed red;
}

